<!DOCTYPE html>
<html style="height: 100%;">
<head>
	<title>Join the Forum</title>
	<!-- link css -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />

	<!-- link scripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="height: 100%;">

	<div class="modal">
	  	<div class="modal-background"></div>
	 	<div class="modal-card" style="margin-top: 50px;">
	 		<!-- the joining form -->
	 		<form>
		 		<header class="modal-card-head">
		 			<p class="modal-card-title">Enter your username: </p>
		 		</header>
		 		<section class="modal-card-body">
		 			<input class="input" type="text" id="username" placeholder="Try and keep it unique" />
		 		</section>
		 		<footer class="modal-card-foot">
		 			<button class="button is-info" id="confirm">Join</button>
      				<button class="button is-danger" id="cancel">Cancel</button>
		 		</footer>
		 	</form>
	 	</div>
	  	<button class="modal-close is-large" aria-label="close"></button>
	</div>

	<header>
		<nav class="navbar">
			<section class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="#">
						<img src="https://cdn1.iconfinder.com/data/icons/material-communication/20/forum-512.png" alt="logo" /> &nbsp; Open Chat
					</a>
				</div>

				<div class="navbar-menu level-right">
					<a href="#" class="navbar-item" id="join">Join</a>
				</div>
			</section>
		</nav>
	</header>

	<main>
		<!-- here lies the dialogues for the forum -->
		<section class="container" id="board" style="height: 50%;"></section>
		<div style="clear: both; height: 20px;"></div>
		<section class="container">
		<form id="form">
			<p><b>Share your thoughts as well:</b></p>
			<div class="field">
				<textarea class="textarea" id="message" style="resize: none;" placeholder="what's on your mind?" rows="2"></textarea>
				<br />
				<span class="level-right"><a class="button is-info" id="send-message">Share</a></span>
			</div>
		</form>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var username = null;
		var socket = io.connect('http://localhost:3000');
		socket.on('init', (data) => renderMessage(data))
		socket.on('new message', (data) => renderMessage(data))

		$("#send-message").click(function(){
			let data = {
				user: username,
				msg: $("#message").val()
			}
			
			socket.emit('msg', data)
			// render the message on the screen of the user
			let msg = '<sction class="message is-info"><div class="message-body"><b>You :</b><p>'+$("#message").val()+'</p>';
			$("#board").append(msg);
			msg: $("#message").val('')
		})

		function renderMessage(data){
			let msg = '<section class="message is-dark"><div class="message-body"> <b>'+data.user+' : </b> <p>'+data.msg+'</p> </div> </section>'
			$('#board').append(msg)
		}

		// modal toggle

		$("#join").click(() => $(".modal").toggle());
		$(".modal-close").click(() => $(".modal").toggle())
		$("#cancel").click(()=>{
			$("#username").val('');
			$(".modal").toggle()
		})

		// joining script
		$("#confirm").click(() => {
			data = {
				username : $("#username").val()
			}

			socket.emit("new user", data);
			username = $("#username").val();
			$(".modal").toggle()
			$("#form").show();
			$("#join").hide();
		})

		$(document).ready(function(){
			if(username == null){
				$("#form").hide();
			}
		})
	</script>
</body>
</html>
