<!DOCTYPE html>
<html style="height: 100%;">
<head>
	<title>Join the Forum</title>
	<!-- link css -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />

	<!-- link scripts -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="height: 100%;">
	<header>
		<nav class="navbar">
			<section class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="#">
						<img src="https://cdn1.iconfinder.com/data/icons/material-communication/20/forum-512.png" alt="logo" /> &nbsp; Open Chat
					</a>
				</div>

				<div class="navbar-menu level-right">
					<a href="#" class="navbar-item">Join</a>
				</div>
			</section>
		</nav>
	</header>

	<main>
		<!-- here lies the dialogues for the forum -->
		<section class="container" id="board" style="height: 50%;"></section>
		<div style="clear: both; height: 20px;"></div>
		<section class="container">
			<p><b>Share your thoughts as well:</b></p>
		<form>
			<div class="field">
				<textarea class="textarea" id="message" style="resize: none;" placeholder="what's on your mind?" rows="2"></textarea>
				<br />
				<span class="level-right"><a class="button is-info" id="send-message">Share</a></span>
			</div>
		</form>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var socket = io.connect('http://localhost:3000');
		socket.on('init', (data) => renderMessage(data))
		socket.on('new message', (data) => renderMessage(data))

		$("#send-message").click(function(){
			let data = {
				msg: $("#message").val()
			}
			
			socket.emit('msg', data)
			// render the message on the screen of the user
			let msg = '<sction class="message is-info"><div class="message-body"><b>You</b><p>'+$("#message").val()+'</p>';
			$("#board").append(msg);
			msg: $("#message").val('')
		})

		function renderMessage(data){
			let msg = '<section class="message"><div class="message-body"> <b>Sameer : </b> <p>'+data.msg+'</p> </div> </section>'
			$('#board').append(msg)
		}
	</script>
</body>
</html>
